about {
    background: var( --color-primary-variant);
    text-align: justify;
    flex-direction: column;
    display:flex;
    padding: 3rem 0;
    font-size: 1.5rem;
    gap: 3rem;
    margin-top: 7rem;
    margin-bottom: 0.9rem;
}